/**
  * THEMING
 */
$color-primary: #837FEF;
$color-secondary: #DCE5EB;

$color-light: #F5F5F9; // BG color
$color-info: #DADEE3; // Border color
$color-dark: #4B5B69; // Font color
$color-danger: #c65454; // Font color

// $success:
// $danger:
// $warning:

/**
  * Typography settings
 */
$font-size1: 10px;
$font-size2: 14px;
$font-size3: 16px;
$font-size4: 18px;
$font-size5: 22px;
$font-size6: 26px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

$container-width: 992px;
$container-gutter: 16px;

/**
  * Animation
 */

$time-short: 0.3s;