@import "styles/core";

$size: 50px;

.button {
  &_primary {
    background-color: $color-primary;
    color: $color-light;

    &:hover {
      background: darken($color-primary, 10%)
    }
  }

  &_secondary {
    background-color: $color-secondary;
    color: $color-dark;

    &:hover {
      background: darken($color-secondary, 10%)
    }
  }

  display: inline-block;
  cursor: pointer;
  padding: 8px 24px;

  min-width: $size;
  min-height: $size;

  font-size: $font-size3;
  font-weight: $font-weight-bold;

  border: 1px solid currentColor;
  border-radius: 4px;

  transition: background-color $time-short ease-in-out;
}