@import "styles/core";

.post {
  display: flex;
  align-items: flex-start;

  &__left {
    flex-shrink: 0;
    width: 60px;
  }

  &__right {
    flex-grow: 1;
    padding-top: 6px;
  }

  &__title {
    font-size: $font-size2;
    line-height: 1.4;
  }

  &__subtitle {
    font-size: $font-size1;
    font-weight: $font-weight-bold;
    line-height: 1.2;
  }
  &__content {
    font-size: $font-size3;
    line-height: 1.4;

    padding-top: 6px;
  }
}

.post + .post {
  margin-top: 24px;
}