@import "styles/core";

.input_field {
  margin-bottom: 24px;
  position: relative;

  &__label {
    font-weight: $font-weight-bold;
    font-size: $font-size2;
    line-height: 1.2;
  }

  &__content {}

  &__danger {
    position: absolute;
    bottom: -14px;
    right: 0;

    color: $color-danger;
    line-height: 1.2;
    font-size: $font-size1;
  }
}