@import "styles/core";

.container {
  width: 100%;
  max-width: $container-width;

  margin-left: auto;
  margin-right: auto;

  padding-left: $container-gutter;
  padding-right: $container-gutter;
}
